<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>车载系统临时后台</title>
  <link rel="stylesheet" href="layui/css/layui.css">
  <script type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak=U8sdm8dTbG5frQNg87IxYtY7OeEoyYOf"></script>
  <script src="jquery-3.4.1.min.js"></script>
  <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
  <script type="text/javascript" src="layui/layui.js"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div  align="center" style="font-size:20px;color:white;padding-top:15px;">车载系统临时后台</div>
  </div>
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item"><a href="index.html">车载监控</a></li>
        <li class="layui-nav-item"><a href="analysis.html">行为分析</a></li>
        <li class="layui-nav-item" ><a href="soshelp.html">车载救援</a></li>
        <li class="layui-nav-item"><a href="doorcheck.html">货箱门检测</a></li>
        <li class="layui-nav-item"><a href="voice.html">对讲</a></li>
        <li class="layui-nav-item"><a href="routems.html">路线管理</a></li>
        <li class="layui-nav-item"><a href="routeexecute.html">路线运行</a></li>
        <li class="layui-nav-item"><a href="videoreview.html">本地回放</a></li>
        <li class="layui-nav-item"><a href="upgrade.html">远程更新</a></li>
      	<li class="layui-nav-item"><a href="log.html">远程日记</a></li>
      	<li class="layui-nav-item"><a href="gps.html">gps记录</a></li>
      	<li class="layui-nav-item  layui-this"><a href="errlog.html">错误日记</a></li>
      </ul>
    </div>
  </div>
  	<div class="layui-body" id="app">
		<div class="layui-inline">
			<input class="layui-input" v-model="model.devId" placeholder="请输入设备编号" />
		</div>
		<div class="layui-inline">
	      <div class="layui-input-inline">
	        <input type="text" class="layui-input" id="startdatetime" lay-verify="required" placeholder="选择日期：yyyy-MM-DD HH:mm:ss">
	      </div>
	    </div>
		<button class="layui-btn" @click="query">查</button>
		<div>
		     共{{errloglist.length}}条记录。
		     
			<div v-for="(errlog,i) in errloglist" style="border:1px solid black;color:green;">
				<div>
					数据库记录  devId:{{errlog.devId}}  &nbsp;&nbsp;
					token:{{errlog.token}}  &nbsp;&nbsp;
					时间:{{errlog.timestamp}}	 &nbsp;&nbsp;
				</div>
				<div>
					错误日志： {{errlog.errtext}}
				</div>
			</div>
		</div>
	</div>
</div>

<script>
 
let app = new Vue({
	  el: '#app',
	  data: {
		  model:{},
		  errloglist:[]
	  },
	  mounted(){
		  this.initMap();
	  },
	  methods:{
		  initMap(){
			  let _this = this;
			  layui.use(["element","laydate"], function(){
				  	let laydate = layui.laydate;
		            laydate.render({
	                	elem: "#startdatetime" //指定元素
	                	,type: 'date'
	            		,done: function(value, date, endDate){
	            			console.info(value);
	            			_this.model.timestamp = value;
	            	     }
	           		});
			});
		  },
		  query(){
			  let _this = this;
			  console.info(this.model);
			 $.get("carmonitorsys/errlog/get.action",this.model,(rs)=>{
				 console.info(rs);
				 _this.errloglist = rs.data;
			 });
		  } 
	  }
	});
</script>
</body>
</html>
      